.burgerMenu {
  width: 100%;
  // background-color: $color5;
  background-color: #fff4eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1em, 1.5vw, 2em);
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2% 1% 2% 1%;
  // border-left: 1px solid #00000063;
  // border-bottom: 1px solid #00000063;
  box-shadow: 3px 3px 2px #d5dee2da, -3px -3px 2px #8aadbeb9;
  animation: animate 0.6s ease-in-out;
  animation-name: burgeMenuApparition;

  @media (min-width: 768px) {
    border-bottom-left-radius: 1rem;
  }

  li {
    width: 50%;
    // display: flex;
    // align-items: center;
    margin: 1rem auto;
    padding: auto;
    border-bottom: 2px solid black;

    .reactIcons {
      display: flex;
      // margin: auto;
    }
  }

  *:hover {
    color: $color6;
  }
}

@keyframes burgeMenuApparition {
  0% {
    // opacity: 0;
    transform: translate(180%, 130%) scale(0.1);
  }
  100% {
    // opacity: 1;
  }
}
