.burgerMenu {
  background-color: rgba(177, 182, 175, 0.733);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1em, 1.5vw, 2em);
  font-weight: bold;
  position: absolute;
  padding: 2% 1% 2% 1%;
  min-height: 100vh;
  width: 100vw;

  li {
    margin: 2vh;
  }
}
