.burgerMenu {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.3em, 2vw, 3em);
  font-weight: bold;
  min-height: 100vh;
  max-width: 100vw;

  li {
    margin: 2vh;
  }
}
