.flightSearch {
  background-color: rgba(255, 255, 255, 0.6);
  height: fit-content;
  
  @media (min-width: 768px) {
    margin-top: 7vmin;
    border-radius: 1rem;
  }

  .generalCriteria {
    display: flex;
    flex-direction: column;
    margin: auto 0.5vmax;
    position: relative;

    .passengerCriteriaError {
      position: absolute;
      z-index: 1;
      top: 24vmin;
      left: 5vmax;
      width: clamp(300px, 50vmin, 700px);
      background: rgb(221, 221, 255, 1);
      border-radius: 1rem;
      box-shadow: 0 0 30px 0 #555;
      padding: 1.5rem 0 0 0;
      text-align: center;
      color: #000;
    }

    .bubble {
      position: absolute;
      top: -2vmin;
      z-index: 1;
      width: clamp(300px, 50vmin, 500px);
      background: rgb(221, 221, 255, 1);
      border-radius: 1rem;
      box-shadow: 0 0 30px 0 #555;
      padding: 1.5rem 0 0 0;
      text-align: center;
      color: #000;
    }

    .menuIconClosed {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.5rem;
    }

    .stayTimeTogether {
      width: fit-content;
      display: flex;
      align-items: center;
      // border-radius: 0.3rem;
      padding: 0 0.5rem 0 1rem;

      .hoursCounter,
      .daysCounter {
        font-size: 1.25rem;
      }

      // span {
      //   margin: auto 1rem auto 0.2rem;
      // }

      // p {
      //   padding: 0 0.5rem;
      // }

      .iconsPlusMinus,
      .iconInfo {
        font-size: 1.5rem;
        color: $color2;
        cursor: pointer;
        margin: 0 0.5rem;
      }

      input {
        width: clamp(3em, 6vw, 7em);
        margin: 0 1vw;
        padding: 0.5% 2%;
      }

      // .container {
      //   display: flex;
      //   align-items: center;
      //   // margin: 0 2rem 0 auto;

      //   .passengersIcon {
      //     padding: 0 1rem;
      //     color: $color2;
      //     font-size: 1.5rem;
      //   }

        .passengersLenght {
          font-size: 1.25rem;
          color: $color2;
          margin: auto 0 auto auto;
        }
      // }
    }
  }

  .btnContainer {
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      margin: auto 2vmin;
    }

    .addPassengerBtn {
      font-size: (clamp(1em, 10vw, 3em));
      color: $color2;
      cursor: pointer;
    }

    .submitBtn {
      @include buttonStyle;
      border: none;
      cursor: pointer;
    }
  }
}
