.Navbar {
  padding: 1%;
  .topNavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: clamp(1em, 1.5vw, 2em);
    font-weight: bold;

    li {
      margin: 1%;
      margin: 0 8vw 0 0vw;

      .active {
        display: none;
        font-weight: bolder;
      }
    }
  }

  .menuIcon,
  .menuIconClosed {
    width: clamp(2em, calc(1.2vw + 1rem), 4em);
    height: clamp(2em, calc(1.2vh + 1rem), 4em);
    position: absolute;
    right: 4vw;
    top: 1vh;
    cursor: grabbing;
  }
}
