.Signup {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    fieldset {
      border: 5px solid #7a7a7a96;
      border-radius: 15px;
      padding: 120px;

      legend {
        color: $color2;
        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: 0.2;
      }
      .note.invalid {
        color: #333131;
      }
      .note.valid {
        color: #a19a9a;
      }

      .row {
        display: flex;
        align-content: flex-start;
        padding: 5px;

        input {
          font-size: 1.8rem;
          border: none;
          border-bottom: 1px solid black;
          text-align: center;
        }
      }
      .note {
        font-size: 1.3rem;
        text-align: center;
      }
      .invalid input {
        color: rgb(182, 32, 32);
      }
      .buttonRow {
        display: flex;
        justify-content: right;
        button {
          font-size: 1.1rem;
          border: none;
          border-radius: 15px;
          padding: 15px;
          background-color: $color2;
          color: white;
          font-weight: 800;
          cursor: pointer;
        }
      }
 
    }
  }
}
