.topMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    font-size: clamp(1.5em, 2vw, 2.3em);
    color: $color1;
    font-weight: bolder;
    margin: 0 0 0 2vw;

    h1 {
      font-size: clamp(1.1em, 1.8vw, 1.8em);
    }
  }

  .topNavbar {
    display: flex;
    align-items: center;

    .reactIcons {
      font-size: clamp(1.6em, 2vw, 2.3em);
      margin: 0 2vw;
    }
  }
}
