.showPassenger {
  // width: clamp(22em, 95vmin, 49em);
  display: flex;
  min-width: fit-content;
  height: max-content;
  display: flex;
  padding: 1vmax;
  margin: 1vmax;
  background-color: $color2;
  border-radius: 0.3rem;

  .outerContainer {
    width: 100%;
    align-items: start;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      // min-width: fit-content;
    }

    .selectDepartureAirport {
      display: flex;
    }

    input {
      @include inputStyle;
      width: 100%;
      padding: 0.5vmax;
    }

    .selectDates {
      display: flex;
    }

    .datePicker {
      width: 100%;
    }
    .dateError {
      border: 2px solid red;
    }
  }

  .deletePassenger {
    font-size: 1.2rem;
    margin: -1% -1% auto auto;
    cursor: pointer;
  }
}

// datePicker library => turns off position: relative;
.react-datepicker__input-container {
  position: static;
}
