.showPassenger {
  // width: clamp(22em, 95vmin, 49em);
  display: flex;
  min-width: fit-content;
  height: max-content;
  display: flex;
  padding: 1vmin; // ??? padding: 2vmin;
  margin: 2vmin;  // ??? margin: 1vmin;
  background-color: $color2;
  border-radius: 0.3rem;

  .outerContainer {
    width: 100%;
    // align-items: start;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      // min-width: fit-content;
    }

    .selectDeparture {
      display: flex;
    }

    input {
      @include inputStyle;
      width: fit-content;
      padding: 0.5vmax 0;
    }

    .selectDates {
      display: flex;
      // margin: auto;
    }

    .datePicker {
      width: 100%;
    }
    .dateError {
      border: 2px solid red;
    }
  }

  .deletePassenger {
    // margin: -1% -1% auto auto;
    
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      margin: auto;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

// datePicker library => turns off position: relative;
.react-datepicker__input-container {
  position: static;
}