.showPassenger {
  position: relative;
  // width: clamp(22em, 95vmin, 49em);
  display: flex;
  min-width: fit-content;
  height: max-content;
  display: flex;
  padding: 2vmin;
  margin: 1vmin;
  background-color: $color2;
  border-radius: 0.3rem;

  .outerContainer {
    width: 100%;
    // align-items: start;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    .selectDeparture {
      display: flex;
      // justify-content: center;
      margin-right: 1rem;
    }

    input {
      @include inputStyle;
      width: fit-content;
      padding: 0.5vmax 0;
    }

    .selectDates {
      display: flex;
    }

    .datePicker {
      width: 100%;
    }
    .dateError {
      border: 2px solid red;
    }
  }

  .deletePassenger {
    position: absolute;
    right: 2%;
    // margin: -1% -1% auto auto;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      margin: auto;
      top: 33.33%;
      right: 0.7%;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

// datePicker library => turns off position: relative;
@media (min-width: 768px) {
  .react-datepicker__input-container {
    position: static;
    padding-right: 1rem;
  }
}
